<div *ngIf="selectedDate">
  <h2>{{ selectedDate | date: 'fullDate' }}</h2>
  <table mat-table [dataSource]="hours" class="mat-elevation-z8">

    <!-- Time Column -->
    <ng-container matColumnDef="time">
      <!-- <th mat-header-cell *matHeaderCellDef> Time </th> -->
      <td mat-cell *matCellDef="let element"> {{element.time}} </td>
    </ng-container>

    <!-- Appointment Column -->
    <ng-container matColumnDef="appointment">
      <!-- <th mat-header-cell *matHeaderCellDef> Appointment </th> -->
      <td mat-cell *matCellDef="let element"> {{element.appointment}} </td>
    </ng-container>

    <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<div *ngIf="!selectedDate">
  <p>Select a date to view appointments</p>
</div>